<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Табло теннисного матча</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="scoreboard home">
    <div class="header">
        <div class="cell">
            <h1>Табло учета теннисного матча</h1>
        </div>
    </div>
    <div class="buttons">
        <div class="button"><a href="/new-match">Новый матч</a></div>
        <div class="button"><a href="/matches">Завершенные матчи</a></div>
    </div>

</div>
</body>
</html>